img {
    max-width: 100%;
    max-height: 100%;
}

.header {
    width: 1200px;
    margin: 0 auto;
    text-align: center;
}

.top_banner {
    margin: 10px 0;
    border-bottom: 1px solid #ddd;
    padding-bottom: 10px;
}

.top_banner ul {
    display: flex;
    flex-direction: row-reverse;
    color: gray;
    text-align: right;
}

.top_banner li~li::after {
    content: "|";
    padding: 20px;
}

.logo {
    width: 300px;
    margin: auto;
    padding: 30px 0;
}

.gnb ul {
    display: flex;
    color: #ddd;
    background-color: #212529;
    text-align: center;
    font-size: 20px;
    font-weight: 700;
    ;
}

.gnb>ul>li {
    flex-grow: 1;
    padding: 10px;
    border-left: 1px bold #ddd;
}

.head_section {
    position: relative;
}

.notice_slider {
    position: absolute;
    width: 1200px;
    text-align: left;
}

.main_slider {
    margin: auto;
    text-align: center;
}