@import url('https://fonts.googleapis.com/css2?family=Nanum+Gothic:wght@400;700;800&display=swap" rel="stylesheet');
@import url('https://cdn.jsdelivr.net/npm/xeicon@2.3.3/xeicon.min.css');
 * {
    margin: 0;
    padding: 0;
    font-size: inherit;
    box-sizing: border-box;
    /* 마진, 패딩 지우기, 글자크기를 최상위에서 상속받아라. 크롬의 기본 글자크기는 16px(보통 브라우저)  */
    font-weight: inherit;
}

/* 글자두께를 최상위에서 상속받음.(볼드 해제) */
ul,
ol {
    list-style: none;
}

/* ul, ol 태그의 리스트 형식을 없앰 */
a {
    color: inherit;
    text-decoration: none;
}

/* 글자크기를 최상위에서 상속받음. 텍스트 데코레이션-  */

img {
    vertical-align: middle;
}

/* 이미지 사이의 4px 정도의 공간을 삭제 */

body {
    font-family: 'Nanum Gothic', sans-serif; line-height: 1;
}

/* 이게 뭔지 잘 모르겠으니 나중에 검색하자 */