@charset "UTF-8";

.talktalk {
    width: 600px;
    border-bottom: 3px solid #236476;
    /* background-color: #D0DFDA; */
}

.talk_header {
    display: flex;
    justify-content: space-between;
    padding-top: 30px;
}

.talk_id {
    display: flex;
}

/*시간시간*/
.talk_header h3 {
    font-size: 20px;
    padding: 0 20px 0 20px;
    color: #7DAD3F;
}

/*닉네임*/
.talk_id h2 {
    font-size: 32px;
    font-weight: 600;
    padding: 0 20px 0 20px;
    color: #236476;
}

/*id*/
.talk_id strong {
    font-size: 20px;
    vertical-align: bottom;
    color: #7DAD3F;
}

.talk_liner {
    padding: 20px;
}

.talk_liner i {
    color: #7DAD3F;
    padding-right: 10px;
    font-size: 20px;
}


.talk_post {
    padding: 20px 20px 30px 20px;
    font-size: 20px;
    color: black;
}

.talk_post a {
    color: #FC5C74;
    text-decoration: underline;
}



.talk_footer {
    padding: 10px 20px 10px 20px;
    background-color: white;
    border-radius: 10px;
    margin: 10px;
}

.talk_footer i {
    font-size: 20px;
    color: #7DAD3F;
    width: 30px;
}

.talk_footer .textBox {
    width: 300px;
    border: none;
    height: 40px;
    border-radius: 20px;
    background-color: #D0DFDA;
    font-size: 20px;
    color: black;
    padding: 0 20px 0 20px;
}

.talk_footer label {
    padding-right: 10px;
}

.talk_footer .url_input {
    margin-top: 10px;
}

.talk_footer button {
    padding: 0px 7px 0px 7px;
    height: 40px;
    border: none;
    background-color: #236476;
    font-weight: 700;
    font-size: 20px;
    border-radius: 10px;
    color: white;
}