.container {
    display: flex;
    width: 1280px;
    margin: 0 auto;
}

.menu_wrap {
    width: 1280px;
    margin: 0 auto;
}

.top_banner {
    position: relative;
    border-top: #38af4c 5px solid;
}

.top_banner .link {
    position: absolute;
    display: block;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 210px;
    height: 60px;
    cursor: pointer;
}

.top_banner .container {
    padding: 30px 0;
    background: url(/subwaycopy/img/common/logo_w.png) no-repeat center center;
}

.util_menu {
    display: flex;
    vertical-align: bottom;
    flex-direction: row-reverse;
    width: 1200px;
    margin: auto;
    text-align: center;
    height: 30px;
    line-height: 30px;
}

.util_menu a {
    padding: 0 10px 0 0;
}

.util_menu a img {
    transform: translateY(-3px);
}

.util_menu .in::after {
    content: "";
    display: inline-block;
    background-color: #ddd;
    width: 3px;
    height: 3px;
    vertical-align: middle;
    margin: 0 0 0 10px;
    border-radius: 50%;
}

/* 
8888888888888888888888888888888888888888888 */

nav {
    position: relative;
    border-bottom: 1px #ddd solid;
    width: 100%;
    margin: 0 auto;
}

nav::before {
    position: absolute;
    content: "";
    top: 61px;
    width: 100%;
    height: 0px;
    background-color: whitesmoke;
    z-index: 998;
    transition: 0.3s;
}



nav>ul {
    display: flex;
    justify-content: space-around;
    font: 18px;
    font-weight: 400;
    padding: 20px 0 0 0;
    text-align: center
}


nav>ul li {
    line-height: 40px;
    text-align: center;
    font-weight: 400;
}

nav>ul>li ul {
    position: absolute;
    overflow: hidden;
    top: 61px;
    height: 0px;
    font-size: 13px;
    background: whitesmoke;
    transition: 0.3s;
    line-height: 40px;
    z-index: 999;
}


nav:hover>ul>li ul {
    height: 260px;
}

nav>ul>li:hover>a {
    color: #38af4c;
}

nav>ul>li>ul li:hover {
    color: #38af4c;
    text-decoration: underline;
}


nav:hover::before {
    height: 280px;
    border-bottom: 1px solid #ddd;
}

/* 99999999999999999999999999999999999999999999999999 */

.main_slider {
    position: relative;
}

.main_slider .itm01 {
    background: url(../img/mainslide/main_PC_1920x440_20201006040046969.jpg) no-repeat center center/cover;
    height: 440px;
}

.main_slider .itm02 {
    background: url(../img/mainslide/main_PC_1920x440_20220502101537047.png)no-repeat center center/cover;
    height: 440px;
}

.main_slider .itm03 {
    background: url(../img/mainslide/main_PC_1920x440_20220502101558818.jpg)no-repeat center center/cover;
    height: 440px;
}



.main_slider button {
    display: none;
    gap: 30px;
    background-color: #38af4c;
}

.main_visual .slick-dots {
    position: absolute;
    bottom: 60px;
    left: 70%;
    transform: translateX(-50%);
}

.main_slider .slick-dots li {
    display: inline-block;
    width: 10px;
    height: 10px;
    background-color: white;
    border-radius: 15px;
    margin: 0 5px;
}

.main_slider .slick-dots li.slick-active {
    width: 30px;
    height: 10px;
    background-color: #ffc300;
    border-radius: 15px;
    transition: 0.3s;
}

.quick_link {
    display: flex;
    text-align: center;
    line-height: 80px;
    transform: translateY(-30px);
    margin: 0 0 0 auto;

}

.quick_link .a1 {
    display: block;
    width: 300px;
    height: 80px;
    background-color: #ffc300;
    color: black;
    border-radius: 30px 0 0 0;
    font-size: 22px;
    font-weight: 400;
    padding: 0 0 0 27px;
}

.quick_link .a1 strong::before {
    content: "";
    display: inline-block;
    background-image: url(../img/main/icon_map.png);
    background-repeat: no-repeat;
    width: 24px;
    height: 30px;
    padding: 0 13px 0 0;
}

.quick_link .a2 {
    display: block;
    width: 300px;
    height: 80px;
    background-color: #38af4c;
    color: white;
    border-radius: 0 0 30px 0;
    font-size: 22px;
    font-weight: 400;
    padding: 0 0 0 27px;
}

.quick_link .a2 strong::before {
    content: "";
    display: inline-block;
    background-image: url(../img/main/icon_franchise.png);
    background-repeat: no-repeat;
    width: 24px;
    height: 30px;
    padding: 0 13px 0 0;
}

/* 99999999999999999999999999999999999999999999999999 */

.subway_menu {
    position: relative;
    padding: 60px 0;
}

.subway_menu .container {
    justify-content: space-between;
}

.subway_menu h2 {
    position: relative;
    font-size: 40px;
    font-weight: 700;
}

.subway_menu span {
    position: relative;
}

.subway_menu h2::before {
    position: absolute;
    content: "";
    display: inline-block;
    top: -15px;
    left: -30px;
    width: 70px;
    height: 70px;
    background: #ffc300;
    border-radius: 50% 50% 0 50%;
}

.subway_menu ul {
    display: flex;
}

.subway_menu ul>li {
    padding: 0 0 0 10px;
}

.subway_menu .menu_link>li:hover {
    color: #38af4c;
}

.subway_menu .menu_link>li.on {
    color: #38af4c;
}

.subway_menu .menu_link li~li::before {
    content: "";
    margin: 0 10px 0 0;
    display: inline-block;
    width: 1px;
    height: 15px;
    background: #ddd;
    vertical-align: middle;
}

.menu_content {
    position: relative;
    height: 400px;
}

.menu_content>li {
    position: absolute;
    top: 20px;
    left: 0;
    width: 1200px;
    visibility: hidden;
}

.menu_content>li.on {
    visibility: visible;
}

.menu_content figure {
    text-align: center;
    padding: 0 10px;
}

.menu_content img {
    width: 100%;
}

.menu_content strong {
    display: block;
    font-weight: 700;
    font-size: 23px;
    padding: 0 0 20px 0;
}

.menu_content span {
    color: gray;
    line-height: 20px;
}

.subway_menu i {
    font-size: 25px;
    padding: 10px;
    background-color: transparent;
    color: gray;
    border-radius: 50%;
    vertical-align: middle center;
}

.subway_menu i:hover {
    background: #ffc300;
    color: #333;
}

.subway_menu i.menu_left {
    position: absolute;
    top: 50%;
    right: 50%;
    transform: translateX(-650px);
}

.subway_menu i.menu_right {
    position: absolute;
    top: 50%;
    right: 50%;
    transform: translateX(650px);
}



/* 99999999999999999999999999999999999999999999999999 */

.middle_section {
    background: url(../img/main/bg_content.gif);
    padding: 60px 0;
}

.middle_section strong {
    line-height: 150%;
    font-weight: 700;
}

.middle_section .main_top a {
    display: inline-block;
    font-size: 16px;
    font-weight: 700;
    border: 2px solid #fff;
    border-radius: 50px;
    padding: 0 15px;
}


.middle_section .util {
    position: relative;
    flex: 1;
    background: url(../img/main/bg_utilization.png) no-repeat center center/contain;
    height: 300px;
    margin: 0 0 0 55px;
}

.middle_section .util strong {
    position: absolute;
    top: 50px;
    left: 30px;
    font-size: 25px;
    color: #fff;
}

.middle_section .history {
    position: relative;
    flex: 2;
    background: url(../img/main/img_subway_history.png)no-repeat center center/contain;
    height: 300px;
}

.middle_section .history strong {
    position: absolute;
    top: 50px;
    left: 400px;
    font-size: 25px;
    color: #fff;
}

.whats_new {
    display: flex;
    flex: 2;
    background: #fff;
    margin: 20px 0 0 55px;
    height: 300px;
    border-radius: 50px 0 50px 0;
    padding: 0px 30px;
    font-size: 16px;
    line-height: 25px;
}

.whats_new h2 {
    position: relative;
    font-size: 32px;
    font-weight: 700;
}

.whats_new h2 span {
    position: relative;
}

.whats_new h2::before {
    position: absolute;
    content: "";
    display: inline-block;
    top: -15px;
    left: 80px;
    width: 50px;
    height: 50px;
    background: #ffc300;
    border-radius: 50% 50% 0 50%;
}

.whats_new p {
    padding: 20px 0;
    line-height: 25px;
    color: gray;
}

.whats_new .left {
    flex: 1;
    text-align: center;
    padding: 80px 0;
}

.whats_new .right {
    flex: 1;
    padding: 80px 0;
}

.whats_new li:hover {
    text-decoration: underline;
}

.whats_new .right a {
    display: block;
    margin: 50px 0 0 0;
    color: gray;
    font-weight: 700;
}

.sponcor {
    flex: 1;
}

/* 99999999999999999999999999999999999999999999999999 */

.quick_menu {
    padding: 60px 0;
}

.quick_menu a {
    position: relative;
    display: block;
    flex: 1;
    height: 70px;
}

.quick_menu strong::before {
    position: absolute;
    content: "";
    display: inline-block;
    top: -15px;
    left: 0;
    width: 70px;
    height: 70px;
}

.quick_menu a:nth-child(1) strong::before {
    background: url(../img/main/icon_quickmenu.png) no-repeat 0 0/cover;
}

.quick_menu a:nth-child(2) strong::before {
    background: url(../img/main/icon_quickmenu.png) no-repeat -70px 0/cover;
}

.quick_menu a:nth-child(3) strong::before {
    background: url(../img/main/icon_quickmenu.png) no-repeat -140px 0/cover;
}

.quick_menu a:nth-child(4) strong::before {
    background: url(../img/main/icon_quickmenu.png) no-repeat -210px 0/cover;
}




.quick_menu strong {
    padding: 30px 0 0 100px;
    margin: 16px 0 0;
    font-size: 18px;
    font-weight: 700;
}

.quick_menu p {
    padding: 0 0 0 100px;
    font-size: 16px;
    margin: 6px 0 0;
}


/* 99999999999999999999999999999999999999999999999999 */

footer {
    padding: 20px 0;
    background: #333;
    color: gray;
}

footer .case {
    position: relative;
}

.case {
    width: 1280px;
    margin: 0 auto;
}

footer ul {
    display: flex;
    padding: 20px 0;
}

footer ul:nth-child(1) {
    padding: 0 0 20px 0;
    border-bottom: 1px solid gray;
}


footer ul>li {
    padding: 0 10px 0 0;
    vertical-align: middle;
}

footer ul>li~li::before {
    content: "";
    display: inline-block;
    width: 1px;
    height: 13px;
    background-color: gray;
    margin: 0 10px 0 0;
    vertical-align: middle;
}

footer .insta {
    position: absolute;
    background: url(../img/common/icon_sns_instar.png) no-repeat 0 0;
    bottom: 0px;
    right: 60px;
    width: 50px;
    height: 50px;
}

footer .insta:hover {
    background: url(../img/common/icon_sns_instar.png) no-repeat -50px 0;
}

footer .fbook {
    position: absolute;
    background: url(../img/common/icon_sns_facebook.png) no-repeat 0 0;
    bottom: 0px;
    right: 0px;
    width: 50px;
    height: 50px;
}

footer .fbook:hover {
    background: url(../img/common/icon_sns_facebook.png) no-repeat -50px 0;
}