.wrap {
    overflow: auto;
}

.container {
    display: flex;
    width: 1200px;
    margin: 0 auto;
}


.logo {
    display: block;
    padding: 30px 0 0 0;
    height: 60px;
    text-align: center;
    border-top: #38af4c solid 3px;
}

.util_menu {
    display: flex;
    flex-direction: row-reverse;
    width: 1200px;
    margin: auto;
    text-align: center;
    height: 30px;
    line-height: 30px;
}

.util_menu a {
    padding: 0 10px 0 0;
}

.util_menu a img {
    transform: translateY(-3px);
}

.util_menu .in::after {
    content: "";
    display: inline-block;
    background-color: #ddd;
    width: 3px;
    height: 3px;
    vertical-align: middle;
    margin: 0 0 0 10px;
    border-radius: 50%;
}
/* 
8888888888888888888888888888888888888888888 */

nav {
    position: relative;
    border-bottom: 1px #ddd solid;
    width: 100%;
    margin: 0 auto;  
}

nav::before {
    position: absolute;
    content: "";
    top: 81px;
    width: 100vw;
    height: 0px;
    background-color: whitesmoke;
    z-index: 998;
    transition: 0.3s;
}



nav>ul {
    display: flex;
    justify-content: space-around;
    font: 18px;
    font-weight: 400;  
    padding: 20px 0 0 0;
    text-align: center
}


nav>ul li {
    line-height: 60px;
    text-align: center;
    font-weight: 400;
}

nav>ul>li ul {
    position: absolute;
    overflow: hidden;
    top: 81px;
    height: 0px;
    font-size: 13px;
    background: whitesmoke;
    transition: 0.3s;
    line-height: 40px;
    z-index: 999;
}


nav:hover>ul>li ul {
    height: 250px;
}

nav>ul>li:hover {
    color: #38af4c;
}

nav>ul>li>ul li:hover {
    color: #38af4c;
    text-decoration: underline;
}


nav:hover::before {
    height: 280px;
    border-bottom: 1px solid #ddd;
}

/* 99999999999999999999999999999999999999999999999999 */

.main_slider {
    position: relative;
}

.main_slider .itm01 {
    background-image: url(../img/mainslide/main_PC_1920x440_20201006040046969.jpg);
    height: 440px;
}

.main_slider .itm02 {
    background-image: url(../img/mainslide/main_PC_1920x440_20220502101537047.png);
    height: 440px;
}

.main_slider .itm03 {
    background-image: url(../img/mainslide/main_PC_1920x440_20220502101558818.jpg);
    height: 440px;
}



.main_slider button {
    display: none;
    gap: 30px;
    background-color: #38af4c;
}

.main_slider .slick-dots li {
    display: inline-block;
    position: absolute;
    bottom: 47px;
    right: 20px;
    margin: 0 15px;
    width: 10px;
    height: 10px;
    background-color: #38af4c;
    border-radius: 15px;
}

.main_slider .slick-dots li.slick-active {
    width: 30px;
    height: 10px;
    background-color: #ffc300;
    border-radius: 15px;
    transition: 0.3s;
}

.quick_link {
    text-align: center;
    line-height: 80px;
    transform: translateY(-30px);
    margin: 0 0 0 auto;

}

.main_visual .a1 {

    width: 300px;
    height: 80px;
    background-color: #ffc300;
    color: black;
    border-radius: 30px 0 0 0;
    font-size: 22px;
    font-weight: 400;
    padding: 0 0 0 27px;
}

.main_visual .a1 strong::before {
    content: "";
    display: inline-block;
    background-image: url(../img/main/icon_map.png);
    background-repeat: no-repeat;
    width: 24px;
    height: 30px;
    padding: 0 13px 0 0;
}

.main_visual .a2 {
    width: 300px;
    height: 80px;
    background-color: #38af4c;
    color: white;
    border-radius: 0 0 30px 0;
    font-size: 22px;
    font-weight: 400;
    padding: 0 0 0 27px;
}

.main_visual .a2 strong::before {
    content: "";
    display: inline-block;
    background-image: url(../img/main/icon_franchise.png);
    background-repeat: no-repeat;
    width: 24px;
    height: 30px;
    padding: 0 13px 0 0;
}

/* 99999999999999999999999999999999999999999999999999 */