@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@100;300;400;500;700;900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Koulen&display=swap');
@import url('https://cdn.jsdelivr.net/npm/bootstrap-icons@1.8.1/font/bootstrap-icons.css');

body {
    font-family: 'Noto Sans KR', sans-serif;
}


.container {
    display: flex;
    width: 1200px;
    margin: 0 auto;
}

@media (max-width:768px) {

    .container {
        width: auto;
        flex-direction: column;
        padding: 0 15px;
    }

    h2 {
        padding: 0 15px;
    }

    p {
        line-height: 1.5;
        padding: 0 15px;
    }

    .container h2,
    .container p {
        padding: 0 0;
    }
}

.top_banner .container {
    position: relative;
    display: block;
}

.top_banner {
    background: #f1f1f1;
    padding: 30px 15px;
    margin: 0px 3.5px;
}


.top_banner h2 {
    font-family: 'Koulen', cursive;
    font-size: 30px;
    margin: 0 0 10px;
}

.top_banner .container a {
    font-size: 15px;
    font-weight: 300;
    padding: 0 15px;
    border: 1px #333 solid;
    margin: 0 0 0 30px;
}

.top_banner i {
    position: absolute;
    top: 0;
    right: 0;
    padding: 10px;
    background: #333;
    border-radius: 50%;
    color: #f1f1f1;
    transform: translateY(-10px);
}

.mbtn {
    position: fixed;
    display: none;
    top: 10px;
    right: 10px;
    padding: 10px 7px;
    background-color: #ddd;
    border-radius: 20%;
}

.mbtn .hamburger-box {
    width: 30px;
    vertical-align: middle;
}

.mbtn .hamburger-inner {
    width: 30px;
}

.mbtn .hamburger-inner::after {
    width: 30px;
}

.mbtn .hamburger-inner::before {
    width: 30px;
}

@media (max-width:768px) {

    .top_banner .container {
        position: relative;
        display: block;

    }

    .top_banner {
        position: absolute;
        top: 300px;
        left: 15px;
        right: 15px;
        background: #f1f1f1;
        padding: 30px 30px;
        margin: 0px 3.5px;
        z-index: 1000;
    }

    .top_banner h2 {
        font-size: 28px;
        margin: 0 0 10px;
    }

    .top_banner p {
        font-size: 13px;
        line-height: 1.7;
        padding: 0 0 10px 0;
    }

    .top_banner .container a {
        display: block;
        font-size: 15px;
        font-weight: 300;
        width: 100px;
        padding: 0 15px;
        border: 1px #333 solid;
        margin: 10px auto 0px auto;
        text-align: center;
    }

    .top_banner i {
        position: absolute;
        top: -2px;
        right: -13px;
        padding: 5px;
        background: #333;
        border-radius: 50%;
        color: #f1f1f1;
    }

    .mbtn {
        display: block;
    }
}



.gnb .container {
    /* justify-content: space-between;
    css flex: 아이템들의 사이에 균일한 공간을 만들어 줌. */
    line-height: 100px;
    justify-content: space-between;

}

.gnb nav {
    margin: 0 0 0 auto;
}

.gnb form {
    margin: 0 0 0 50px;
}

.gnb nav ul {
    display: flex;
}

.gnb nav ul>li~li::before {
    content: "";
    display: inline-block;
    width: 1px;
    height: 13px;
    background-color: gray;
    margin: 0 30px;
}

#search_form {
    text-align: right;
}

#search_form input[type='text'] {
    font-size: 16px;
    border: none;
    border-bottom: #333 1px solid;
    outline: none;
    padding: 5px 0;
    width: 150px;

}

#search_form button {
    outline: none;
    border: none;
    background: transparent;
    font-size: 20px;
}


@media (max-width:768px) {
    .header h1 {
        padding: 0 15px;
    }

    .gnb nav {
        position: fixed;
        top: 0;
        left: -100vh;
        width: calc(100% - 120px);
        height: 100vh;
        background: #fff;
        border-right: 1px solid #ddd;
        z-index: 1000;
        transition: 0.5s;
    }

    .gnb .container {
        flex-direction: row;
        justify-content: space-between;
        margin: 50px 0 0 0;
    }

    .gnb nav.on {
        left: 0;
    }

    .gnb nav>ul {
        display: flex;
        flex-direction: column;
        line-height: 50px;
        padding: 100px 30px;
    }

    nav>ul>li {
        border-bottom: 1px solid gray;
    }

    nav>ul>li>a {
        display: block;

    }

    .gnb nav ul>li~li::before {
        display: none;
    }

    #search_form {
        margin: 0;
    }


    #search_form input[type='text'] {
        font-size: 16px;
        border: none;
        border-bottom: #333 1px solid;
        outline: none;
        padding: 5px 0;
        width: calc(70% - 5px);
    }

    #search_form button {
        outline: none;
        border: none;
        background: transparent;
        font-size: 20px;
    }
}



.main_visual figure .container {
    display: block;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.main_visual figure {
    position: relative;
    height: 600px;
    color: #fff;
}

.main_visual .itm01 {
    background: url(../img/mainvisual01.jpg) no-repeat center center/cover;

}

.main_visual .itm02 {
    background: url(../img/mainvisual02.jpg) no-repeat center center/cover;

}

.main_visual .itm03 {
    background: url(../img/mainvisual03.jpg) no-repeat center center/cover;

}


.main_visual figure h3 {
    font-family: 'Koulen', cursive;
    font-size: 60px;
    margin: 0 0 20px 0;
    text-shadow: 0 0 5px #000;
}

.main_visual figure p {
    font-size: 13px;
    font-weight: 300;
    margin: 30px 0;
}

.main_visual figure a {
    display: inline-block;
    font-size: 13px;
    font-weight: 300;
    width: 100px;
    padding: 10px 10px;
    text-align: center;
    border: 1px solid #fff;
    background: #333;

}

.main_visual figure.itm02 h3 {
    color: #333;
    text-shadow: 0 0 5px #fff;
}

.main_visual figure.itm02 p {
    color: #333;
}

.main_visual figure h3 {
    transform: translateY(100px);
    opacity: 0;

}

.main_visual figure.on h3 {
    transform: translateY(0);
    opacity: 1;
    transition: 0.5s;
}

.main_visual figure p {
    transform: translateY(100px);
    opacity: 0;
}

.main_visual figure.on p {
    transform: translateY(0);
    opacity: 1;
    transition: 0.5s 0.5s;
}

.main_visual figure a {
    transform: translateY(100px);
    opacity: 0;
}

.main_visual figure.on a {
    transform: translateY(0);
    opacity: 1;
    transition: 0.5s 1s;
}


.main_visual .slick-dots {
    position: absolute;
    bottom: 80px;
    left: 50%;
    transform: translateX(-50%);
}

.main_visual .slick-dots li {
    display: inline-block;
    width: 80px;
    height: 5px;
    background: #333;
    margin: 0 5px;
}

.main_visual .slick-dots li::after {
    content: "";
    display: block;
    width: 0;
    height: 100%;
    background: #dc3545;
}

.main_visual .slick-dots li.slick-active::after {
    width: 100%;
    transition: 3s;
}

.main_visual .slick-dots button {
    display: none;
    padding: 100px 0;
}




@media (max-width:768px) {
    .main_visual {
        position: relative;
    }

    .main_visual figure .container {
        display: block;
        position: absolute;
        top: 50%;
        left: 15px;
        right: 15px;
        transform: translate(0%, -50%);
        text-align: center;
    }

    .main_visual figure {
        position: relative;
        height: calc(100vh - 300px)
    }

    .main_visual .itm01 {
        background: url(../img/mainvisual01.jpg) no-repeat center left/cover;

    }

    .main_visual .itm02 {
        background: url(../img/mainvisual02.jpg) no-repeat center right/cover;

    }

    .main_visual .itm03 {
        background: url(../img/mainvisual03.jpg) no-repeat center right/cover;

    }


    .main_visual figure h3 {
        font-family: 'Koulen', 'cursive';
        font-size: 6.6vw;
        margin: 0 0 20px 0;
        color: #fff;
        text-shadow: 0 0 5px #000;
    }

    .main_visual figure p {
        font-size: 13px;
        font-weight: 300;
        margin: 30px 0;
        padding: 0;
    }

    .main_visual figure.itm02 h3 {
        color: #fff;
        text-shadow: 0 0 5px #000;
    }

    .main_visual figure.itm02 p {
        color: #fff;
    }

    .main_visual figure a {
        display: inline-block;
        font-size: 13px;
        font-weight: 300;
        width: 100px;
        padding: 10px 10px;
        text-align: center;
        border: 1px solid #fff;
        background: #333;
    }

    .main_visual figure h3 {
        transform: translateY(100px);
        opacity: 0;

    }

    .main_visual figure.on h3 {
        transform: translateY(0);
        opacity: 1;
        transition: 0.5s;
    }

    .main_visual figure p {
        transform: translateY(100px);
        opacity: 0;
    }

    .main_visual figure.on p {
        transform: translateY(0);
        opacity: 1;
        transition: 0.5s 0.5s;
    }

    .main_visual figure a {
        transform: translateY(100px);
        opacity: 0;
    }

    .main_visual figure.on a {
        transform: translateY(0);
        opacity: 1;
        transition: 0.5s 1s;
    }


    .main_visual .slick-dots {
        position: absolute;
        bottom: 25%;
        left: 50%;
        transform: translateX(-50%);
    }

    .main_visual .slick-dots li {
        display: inline-block;
        width: 10px;
        height: 10px;
        background: #333;
        margin: 0 5px;
        border-radius: 50px;
        overflow: hidden;
    }

    .main_visual .slick-dots li::after {
        display: none;
        content: "";
        display: block;
        background: #dc3545;
    }

    .main_visual .slick-dots li.slick-active {
        width: 30px;
        transition: 0.3s;
        background: #dc3545;
    }

    .main_visual .slick-dots button {
        display: none;
        padding: 100px 0;
    }

}



/* 99999999999999999999999999999999999999 */

.case {
    overflow: hidden;
    border-radius: 51% 49% 70% 30% / 51% 66% 34% 49%;
    margin: 0 0 20px 0;
}

.content01 {
    text-align: center;
    padding: 100px 0;
    /* 패딩을 쓰는 이유: 마진은 겹쳐지기 때문. */
}

section h2 {
    font-size: 21px;
    font-weight: 700;
    letter-spacing: 5px;
    margin: 0 0 10px;
}

section p {
    font-size: 15;
    margin: 0 0 30px;
    font-weight: 300;
}

.content01 .container {
    gap: 30px;
    align-items: center;

}

.content01 figure {
    flex: 1;
    width: 400px;
    transition: 0.5s;
}

.content01 figure img {
    transition: 0.5s;
}

.content01 figure strong {
    display: block;
    margin: 0 0 20px 0;
}

.content01 figure a {
    display: inline-block;
    border: 1px solid #333;
    padding: 0 30px;
    line-height: 30px;
}

.content01 figure img:hover {
    transform: scale(1.2);
}

.content01 figure:hover .case {
    border-radius: 10px;
    transition: 0.3s;
}

.content01 figure a:hover {
    background: #dc3545;
    color: #fff;
}

@media (max-width:768px) {

    .content01 .container {
        flex-direction: row;
        flex-wrap: wrap;
    }

    .content01 figure {
        flex: 1 1 40%;
    }
}




.fixedbg {
    padding: 100px 0;
    text-align: center;
    color: #fff;
    background: url(../img/mainvisual03.jpg) no-repeat fixed center center/cover;
    filter: grayscale(0.7);


}

/* background-attachment: fixed;*/
.fixedbg a {
    font-size: 17px;
    line-height: 30px;

}

.fixedbg i {
    margin: 0 0 0 5px;
    font-size: 30px;
    vertical-align: middle;
}

@media (max-width:768px) {

    .fixedbg {
        padding: 100px 0;
        text-align: center;
        color: #fff;
        background: url(../img/mainvisual03.jpg) no-repeat scroll center center/cover;
        filter: grayscale(0.7);
    }

    /* background-attachment: fixed;*/
    .fixedbg a {
        font-size: 17px;
        line-height: 30px;

    }

    .fixedbg i {
        margin: 0 0 0 5px;
        font-size: 30px;
        vertical-align: middle;
    }

}



/* 88888888888888 */


.movie {
    padding: 100px 0;
}

.movie .container {
    gap: 50px;
}

.movie .container>* {
    flex: 1;
}

.movie video {
    max-width: 100%
}

.movie .dec {
    padding: 100px 0;
}

.movie .dec i {
    font-size: 30px;
    margin: 0 5px 0 0;
    cursor: pointer;
}

@media (max-width:768px) {
    .movie .dec {
        padding: 0;
        text-align: center;
    }
}


.bgmv {
    padding: 150px 0;
    color: #fff;
    text-align: center;
}

.bgmv i {
    font-size: 30px;
    margin: 0 5px;
    cursor: pointer;
}

.bgmv2 {
    padding: 150px 0;
    color: #fff;
    text-align: center;
}

.bgmv2 i {
    font-size: 30px;
    margin: 0 5px;
    cursor: pointer;
}

/* 88888888888888 */

.product_list {
    position: relative;
    padding: 100px 0;
    text-align: center;
}

/* css로 라벨 만들기 */
.product_list small {
    position: relative;
    display: inline-block;
    border-top: 15px solid #dc3545;
    border-left: 100px solid #dc3545;
    border-bottom: 15px solid #dc3545;
    border-right: 15px solid transparent;
    color: white;
    width: 0;
    height: 0;
}

.product_list span {
    position: absolute;
    top: -11px;
    right: 10px;
}

/*  */

.product_list .product_slider {
    width: 1200px;
    margin: 0 auto;

}

.product_list .product_slider figure {
    padding: 10px 15px;
}

.product_list .product_slider figure .box {
    margin: 0 0 15px 0;
}

.product_list i {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 50px;
    color: #333;
}

.product_list i.s_left {
    margin: 0 0 0 -650px;
}

.product_list i.s_right {
    margin: 0 650px 0 650px;
}

.product_list .slick-dots {
    display: flex;
    justify-content: center;
    gap: 5px;
    margin: 20px 0 0 0;
}

.product_list .slick-dots li {
    width: 10px;
    height: 10px;
    background: #333;
    border-radius: 50%;
}

.product_list .slick-dots li.slick-active {
    background: #dc3545;
}

.product_list .slick-dots button {
    display: none;
}

.product_list figure img {
    padding: 10px 0;
    transition: 0.3s;
}

.product_list figure.slick-center img {
    transform: scale(1.25);
}


@media (max-width:768px) {
    .product_list {
        position: relative;
        padding: 100px 0;
        text-align: center;
    }

    /* css로 라벨 만들기 */
    .product_list small {
        position: relative;
        display: none;
        border-top: 15px solid #dc3545;
        border-left: 100px solid #dc3545;
        border-bottom: 15px solid #dc3545;
        border-right: 15px solid transparent;
        color: white;
        width: 0;
        height: 0;
    }

    .product_list span {
        position: absolute;
        top: -11px;
        right: 10px;
    }

    /*  */

    .product_list .product_slider {
        width: auto;
    }

    .product_list .product_slider figure {
        padding: 10px 15px;
    }

    .product_list .product_slider figure .box {
        margin: 0 0 15px 0;
    }

    .product_list .product_slider figure strong {
        font-size: 20px;
    }

    .product_list i {
        position: absolute;
        transform: translate(0 -50%);
        font-size: 50px;
        color: #333;
    }

    .product_list i.s_left {
        margin: 0 0 0 0;
        top: 60%;
        left: 60px;
    }

    .product_list i.s_right {
        margin: 0 0 0 0;
        top: 60%;
        left: auto;
        right: 10px;
    }

    .product_list .slick-dots {
        display: flex;
        justify-content: center;
        gap: 5px;
        margin: 20px 0 0 0;
    }

    .product_list .slick-dots li {

        width: 10px;
        height: 10px;
        background: #333;
        border-radius: 50%;
    }

    .product_list .slick-dots li.slick-active {
        background: #dc3545;
    }

    .product_list .slick-dots button {
        display: none;
    }

    .product_list figure img {
        padding: 10px 0;
        transition: 0.3s;
    }

    .product_list figure.slick-center img {
        transform: scale(1.25);
    }
}



.tab {
    padding: 100px 0;
    background-color: whitesmoke;
}

.tab .container {
    gap: 30px;
}

.tab .tab_wrap {
    flex: 1;
}

.tab_link {
    display: flex;
}

.tab_link>li {
    flex: 1;
    background: #333;
    color: #fff;
    padding: 10px 15px;
    text-align: center;
    cursor: pointer;
}

.tab_link>li.on {
    background: #dc3545;
}

.tab_link>li~li {
    border-left: 1px solid #ddd;
}


.tab figure {
    flex: 1;
}

.tab_content>li {
    display: none;
}

.tab_content>li.on {
    display: block;
}

.tab_content>li dd {
    display: flex;
    justify-content: space-between;
    line-height: 40px;
    border-bottom: 1px solid gray;
}

.tab_content>li dd strong {
    width: 500px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}









/* 888888888888888888 */


.footer {
    padding: 0 0 50px 0;
    background-color: #333;
    color: #ddd;
    font-weight: 100;
    font-size: 15px;
}

.footer .container {
    line-height: 60px;
}

.footer .top ul {
    display: flex;
}

.top ul>li {
    padding: 0 15px 0 0;
}

.top ul>li~li::before {
    display: inline-block;
    content: "";
    margin: 0 15px 0 0;
    height: 13px;
    width: 1px;
    background-color: gray;
    vertical-align: middle;
}

.top .sns {
    margin: 0 0 0 auto;
}

.top .sns i {
    margin: 0 5px;
    font-size: 21px;
    color: #eee;
    vertical-align: middle;
}

.footer hr {
    border: none;
    border-top: 1px solid gray;
    margin: 0;
}

.footer .bottom {
    justify-content: space-between;
}

.footer #link {
    background: #111;
    font-size: 17px;
    text-transform: uppercase;
    padding: 3px 15px;
    color: #ddd;
    outline: none;
    font-family: 'Noto Sans KR', sans-serif;
}

@media (max-width:768px) {

    .footer {
        padding: 0;
        background-color: #333;
        color: #ddd;
        font-weight: 100;
        font-size: 15px;
    }

    .footer .container {
        align-items: center;
        justify-content: space-between;
        line-height: 1.5;
        text-align: center;
        padding: 30px 0;
    }

    .footer .top ul {
        display: block;
        padding: 0 0 20px 0;
    }

    .top ul>li {
        display: inline-block;
        padding: 0 15px 0 0;
    }

    .top ul>li~li::before {
        display: none;
        content: "";
        margin: 0 15px 0 0;
        height: 13px;
        width: 1px;
        background-color: gray;
        vertical-align: middle;
    }

    .top .sns {
        margin: auto;
    }

    .footer .bottom .left {
        margin: 0 0 20px 0;
    }
}